swagger: '2.0'
info:
  title: Financial Index API
  description: API to validate financial account indexes used for purchasing.
  version: v1
  license:
    name: GNU Affero General Public License Version 3
    url: http://www.gnu.org/licenses/agpl-3.0.en.html
  contact:
    name: IS Data Architecture Team
    url: https://is.oregonstate.edu/data-architecture
    email: isdataarchitecture@oregonstate.edu
schemes:
  - https
host: api.oregonstate.edu
basePath: /v1
externalDocs:
  description: GitHub Repository
  url: https://github.com/osu-mist/financial-index-api
produces:
  - application/json
consumes:
  - application/json
security:
  - OAuth2:
      - full
paths:
  /finance/account-indexes:
    get:
      summary: Get account indexes.
      tags:
        - indexes
      description: Get account indexes, filter by parameters. At least one parameter is required.
      operationId: getAccountIndexes
      parameters:
        - in: query
          name: accountIndexCode
          required: false
          description: >
            Trailing wild card and case insensitive query for indexes.
            Example: /account-indexes?accountIndexCode=foo could return
            FOO123 and FOO789.
          type: string
        - in: query
          name: organizationCode
          required: false
          description: Get account indexes that match this organization code.
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AccountIndexesResult'
        '400':
          description: Bad Request
          schema:
            $ref: '#/definitions/ErrorResult'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorResult'
  /finance/account-indexes/{accountIndexCodeId}:
    get:
      summary: Get a specific account index.
      tags:
        - indexes
      description: Get a specific account index code.
      operationId: getAccountIndexById
      parameters:
        - name: accountIndexCodeId
          in: path
          description: Account index code
          required: true
          type: string
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/AccountIndexResult'
        '404':
          description: Account index not found
          schema:
            $ref: '#/definitions/ErrorResult'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorResult'
  /finance/activity-codes:
    get:
      summary: Get activity codes.
      tags:
        - activity-codes
      description: Get a list of activity codes, query by activity code.
      operationId: getActivityCodes
      parameters:
        - name: activityCode
          in: query
          description: >
            Trailing wild card and case insensitive query for activity codes.
            Example: /activity-codes?activityCode=a could return
            ABC and AYZ.
          type: string
          required: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ActivityCodesResult'
        '400':
          description: Bad request
          schema:
            $ref: '#/definitions/ErrorResult'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorResult'
  /finance/activity-codes/{activityCodeId}:
    get:
      summary: Get a specific activity code.
      tags:
        - activity-codes
      operationId: getActivityCodeById
      parameters:
        - name: activityCodeId
          in: path
          description: Activity code.
          type: string
          required: true
      responses:
        '200':
          description: Successful response
          schema:
            $ref: '#/definitions/ActivityCodeResult'
        '404':
          description: Activity code not found
          schema:
            $ref: '#/definitions/ErrorResult'
        '500':
          description: Internal Server Error
          schema:
            $ref: '#/definitions/ErrorResult'
parameters:
  authorization:
    name: Authorization
    in: header
    type: string
    required: true
    description: '"Bearer [token]" where [token] is your OAuth2 access token'
definitions:
  SelfLink:
    properties:
      self:
        type: string
        format: url
        description: Self-link of current resource
  AccountIndexesResult:
    properties:
      links:
        $ref: '#/definitions/SelfLink'
      data:
        type: array
        items:
          $ref: '#/definitions/AccountIndexResource'
  AccountIndexResult:
    properties:
      links:
        $ref: '#/definitions/SelfLink'
      data:
        $ref: '#/definitions/AccountIndexResource'
  AccountIndexResource:
    properties:
      id:
        $ref: '#/definitions/AccountIndexCode'
      type:
        type: string
        enum: [account-indexes]
      attributes:
        properties:
          accountIndexCode:
            $ref: '#/definitions/AccountIndexCode'
          accountIndexTitle:
            type: string
            description: Short description of account index.
          effectiveDate:
            type: string
            format: date
            description: >
              Date this account index record became effective.
              This date will never be in the future.
            example: 2017-12-31
          terminationDate:
            type: string
            format: date
            description: >
              Date this account index record will be terminated.
              This date will always either be in the future or null.
            example: 2018-12-31
          fundCode:
            type: string
            description: Fund code associated with this account index.
          fundTitle:
            type: string
            description: Short description of fund code associated with this account index.
          organizationCode:
            type: string
            description: Organization code associated with this account index.
          organizationTitle:
            type: string
            description: Short description of organization code associated with this account index.
          accountCode:
            type: string
            description: Account code associated with this account index.
          accountTitle:
            type: string
            description: Short description of account code associated with this account index.
          programCode:
            type: string
            description: Program code associated with this account index.
          programTitle:
            type: string
            description: Short description of program code associated with this account index.
          activityCode:
            type: string
            description: Activiy code associated with this account index.
          activityTitle:
            type: string
            description: Short description of activity code associated with this account index.
          locationCode:
            type: string
            description: Location code associated with this account index.
          locationTitle:
            type: string
            description: Short description of location code associated with this account index.
      links:
        $ref: '#/definitions/SelfLink'
  AccountIndexCode:
    type: string
    description: Unique account index code.
    example: FOO123
  ActivityCodesResult:
    properties:
      links:
        $ref: '#/definitions/SelfLink'
      data:
        type: array
        items:
          $ref: '#/definitions/ActivityCodeResource'
  ActivityCodeResult:
    properties:
      links:
        $ref: '#/definitions/SelfLink'
      data:
        $ref: '#/definitions/ActivityCodeResource'
  ActivityCodeResource:
    properties:
      id:
        $ref: '#/definitions/ActivityCode'
      type:
        type: string
        enum: [account-indexes]
      attributes:
        properties:
          activityCode:
            $ref: '#/definitions/ActivityCode'
          activityTitle:
            type: string
            description: Short description of activity code.
          effectiveDate:
            type: string
            format: date
            description: >
              Date this activity code record became effective.
              This date will never be in the future.
            example: 2017-12-31
          terminationDate:
            type: string
            format: date
            description: >
              Date this activity code record will be terminated.
              This date will always either be in the future or null.
            example: 2018-12-31
      links:
        $ref: '#/definitions/SelfLink'
  ActivityCode:
    type: string
    description: Unique activity code.
    example: ABCD
  ErrorObject:
    properties:
      status:
        type: string
        description: HTTP status code
        example: '123'
      title:
        type: string
        description: A short, user readable summary of the error
        example: Not Found
      code:
        type: string
        description: An application-specific error code
        example: '1234'
      detail:
        type: string
        description: A long description of the error that may contain instance-specific details
      links:
        properties:
          about:
            type: string
            format: url
            description: A link to further information about the error
            example: https://developer.oregonstate.edu/documentation/error-reference#1234
  ErrorResult:
    properties:
      errors:
        type: array
        items:
          $ref: '#/definitions/ErrorObject'
