swagger: '2.0'
info:
  title: Financial Index API
  description: API to validate financial account indexes used for purchasing.
  version: v1
  license:
    name: GNU Affero General Public License Version 3
    url: http://www.gnu.org/licenses/agpl-3.0.en.html
  contact:
    name: IS Data Architecture Team
    url: https://is.oregonstate.edu/data-architecture
    email: isdataarchitecture@oregonstate.edu
schemes:
  - https
host: api.oregonstate.edu
basePath: /v1
externalDocs:
  description: GitHub Repository
  url: https://github.com/osu-mist/financial-index-api
produces:
  - application/json
paths:
  /account-indexes:
    get:
      summary: Get account indexes.
      tags:
        - indexes
      description: Get account indexes, filter by parameters. At least one parameter is required.
      operationId: getAccountIndexes
      parameters:
        - in: query
          name: q
          required: false
          description: >
            Trailing wild card and case insensitive query for indexes.
            Example: /account-indexes?q=foo could return
            FOO123 and FOO789.
          type: string
        - in: query
          name: organizationCode
          required: false
          description: Get account indexes that match this organization code.
          type: string
        - $ref: '#/parameters/authorization'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/AccountIndexesResultObject'
        400:
          description: Bad Request
          schema:
            $ref: '#/definitions/Errors'
        500:
          description: Internal Server Error
          schema:
            $ref: '#/definitions/Errors'
  /account-indexes/{accountIndexCode}:
    get:
      summary: Get a specific account index.
      tags:
        - indexes
      description: Get a specific account index code.
      operationId: getAccountIndexByID
      parameters:
        - name: accountIndexCode
          in: path
          description: Account index code
          required: true
          type: string
        - $ref: '#/parameters/authorization'
      responses:
        200:
          description: Successful response
          schema:
            $ref: '#/definitions/AccountIndexResultObject'
        404:
          description: Account index not found
          schema:
            $ref: '#/definitions/Errors'
        500:
          description: Internal Server Error
          schema:
            $ref: '#/definitions/Errors'
parameters:
  authorization:
    name: Authorization
    in: header
    type: string
    required: true
    description: '"Bearer [token]" where [token] is your OAuth2 access token'
definitions:
  AccountIndexesResultObject:
    properties:
      links:
        $ref: '#/definitions/SelfLink'
      data:
        type: array
        items:
          $ref: '#/definitions/AccountIndexResourceObject'
  AccountIndexResultObject:
    properties:
      links:
        $ref: '#/definitions/SelfLink'
      data:
        $ref: '#/definitions/AccountIndexResourceObject'
  AccountIndexResourceObject:
    properties:
      id:
        type: string
        description: Unique account index code.
        example: FOO123
      type:
        type: string
        example: account-indexes
      attributes:
        properties:
          accountIndexCode:
            type: string
            description: Unique account index code.
            example: FOO123
          effectiveDate:
            type: string
            format: date
            description: >
              Date this account index record became effective.
              This date will never be in the future.
            example: "2017-12-31"
          title:
            type: string
            description: Short description of index.
          organizationCode:
            type: string
            description: Code for organization/department that this index is associated with.
      links:
        $ref: '#/definitions/SelfLink'
  SelfLink:
    properties:
      self:
        type: string
        format: url
        description: Self link of ApiResource
  Error:
    properties:
      status:
        type: string
        description: HTTP status code
        example: 123
      title:
        type: string
        description: A short, user readable summary of the error
        example: Not Found
      code:
        type: string
        description: An application-specific error code
        example: 1234
      detail:
        type: string
        description: A long description of the error that may contain instance-specific details
      links:
        properties:
          about:
            type: string
            format: url
            description: A link to further information about the error
            example: https://developer.oregonstate.edu/documentation/error-reference#1234
  Errors:
    properties:
      errors:
        type: array
        items:
          $ref: '#/definitions/Error'